<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
    <a href="https://iasi.hackandtell.ro">Hack and Tell @Iași</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-laptop fa-lg main-list-item-icon"></span>
    <a href="https://tm.hackandtell.ro">Hack and Tell @Timișoara</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/hackandtell-ro">GitHub</a>
  </li>
</ul>